<div class="lessons">
  <div class="lessons__toolbar">
      <app-search (searchEvent)=onSearch($event)></app-search>
      <button class="app-button app-button-primary" routerLink="/lessons/new">
          <span class="app-button__inner">
              <i class="material-icons app-button__icon">add</i>
              <span class="app-button__text">Add course</span>
          </span>
      </button>
  </div>

  <div *ngIf="lessons && lessons.length; else noLessonsBox">
    <div class="lessons-list">
        <app-lesson *ngFor="let lesson of lessons | sortByDate" [lessonData]=lesson
        (deleteLessonEvent)="deleteLesson($event)"></app-lesson>
    </div>

    <button class="app-button app-button-primary app-button-full-width"
        *ngIf="lessons.length < total" (click)="loadMore()">
        LOAD MORE
    </button>
  </div>

  <ng-template #noLessonsBox>
      <p class="lessons__no-lessons">
        {{noLessonsMsg}}
      </p>
  </ng-template>
</div>