<div class="lessons">
  <div class="lessons__toolbar">
      <app-search></app-search>
      <button class="app-button app-button-primary">
          <span class="app-button__inner">
              <i class="material-icons app-button__icon">add</i>
              <span class="app-button__text">Add course</span>
          </span>
      </button>
  </div>

  <div class="lessons-list">
      <app-lesson *ngFor="let lesson of lessons" [lessonData]=lesson (deleteLessonEvent)="deleteLesson($event)"></app-lesson>
  </div>

  <button class="app-button app-button-primary app-button-full-width" (click)="loadMore()">LOAD MORE</button>
</div>