.header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px
    background: #D2EDFF
    font-size: 1.4rem

    &__logo
        line-height: 0

        img
            width: 80px

    &__login-off
        margin-left: 5px