<header class="header">
  <div class="header__logo">
    <img src="assets/img/a18_logo.svg">
  </div>
  <div class="header__login">
    <div *ngIf="isLogged; else notLoggedBox">
      <span class="header__user-name">{{user?.firstName}}</span>
      <button class="app-button app-button-primary header__login-off" (click)="logOff()">Log off</button>
    </div>

    <ng-template #notLoggedBox>
      <button class="app-button app-button-default header__login-in" (click)="logIn()">Login</button>
    </ng-template>
  </div>
</header>