<div class="delete-lesson-dialog">
  <p class="delete-lesson-dialog__text">
    Do you really want to delete this course?
  </p>
  <button class="app-button app-button-primary delete-lesson-dialog__button" (click)="setAnswer(true)">
    <span class="app-button__inner">
      <span class="app-button__text">Yes</span>
    </span>
  </button>
  <button class="app-button app-button-warn delete-lesson-dialog__button" (click)="setAnswer(false)">
    <span class="app-button__inner">
      <span class="app-button__text">No</span>
    </span>
  </button>
</div>

