.login-page

    &__form
        width: 100%
        max-width: 400px
        margin: 12% auto 0
        padding: 10px
        border: 1px solid #cccccc
        border-radius: 2px

    &__label
        display: block
        margin-bottom: 10px
        font-size: 1.4rem

    &__input
        width 100%

    &__form-group
        margin-bottom: 20px

    &__login-btn
        min-width: 70px

    &__err-msg
        margin: 0 0 10px
        font-size: 1.6rem
        color: #ff0000

    &__errors-box
        margin-top: 10px;
        font-size: 12px;

        &-message
            color: #ff0000;
