<div class="login-page">
  <form role="form" class="login-page__form">
    <p class="login-page__err-msg" *ngIf="isLoginError">
      No user found.
    </p>

    <div class="form-group login-page__form-group">
      <label for="login" class="login-page__label">Email:</label>
      <input type="email" class="form-control app-input login-page__input" id="login" name="login" [(ngModel)]="formData.email" required>
    </div>

    <div class="form-group login-page__form-group">
      <label for="password" class="login-page__label">Password:</label>
      <input type="password" class="form-control app-input login-page__input" id="password" name="password" [(ngModel)]="formData.password" required>
    </div>

    <button class="app-button app-button-primary login-page__login-btn" (click)="login()">
      <span class="app-button__inner">
        <span class="app-button__text">Login</span>
      </span>
    </button>
  </form>
</div>